
.trow {
  height: 75px;
}

/* .round {
  width: 20px;
  min-height: 40px;
} */

.dropdown {
  margin-top: 7px;
  margin-left: 600px;
  height: 20px;
}

.theader {
  text-align: center;
}

.playerPos {
  font-size: 10px;
  float: left;
  margin-top: -2px;
}

.playerBye {
  font-size: 10px;
  float: right;
  margin-top: -2px;
}

.playerTeam {
  font-size: 10px;
  float: right;
  margin-top: -2px;
}

.playerFName {
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  clear: both;
}

.playerLName {
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  clear: both;
}

/* .playerLName sup {
  top: -1.5em;
  font-size: 40%;
} */

.roundInCell {
  font-size: 10px;
  float: left;
  margin-top: -2px;
}

.pickNumber {
  text-align: center;
  font-size: 28px;
  line-height: 54px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  clear: both;
}

.all_player_table {
  display: block;
  height: 1100px;
  overflow-y: scroll;
}

.pos_table {
  display: block;
  height: 300px;
  overflow-y: scroll;
}
